<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <a href="<%= user_url(current_user.id) %>"><%= current_user.email %></a>
      <% end %>
      <% if logged_in? %>
        <%= button_to "Logout", sessions_url, method: :delete %>
      <% else %>
        <%= button_to "Login", new_sessions_url, method: :get %>
      <% end %>
    </nav>

    <header>
      <h1><a href="<%= bands_url %>">Music App</a></h1>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>

  <footer>footer</footer>
</html>
